In [1]:
# Final Project
# Phase 1

# Cale Nearing, Brian Stout, Austin Zebrowski

In [2]:
# import packages

import pandas as pd
import numpy as np

In [3]:
# read csv, replace '?' with Nan, and count Nan

cancer_df = pd.read_csv('C:/Users/azebr/GIT/data/Breast-Cancer-Wisconsin.csv')
cancer_df['A7'].replace('?', np.NaN, inplace=True)
cancer_df['A7'] = pd.to_numeric(cancer_df['A7'])

print('Number of NaN in is: ', cancer_df.isnull().sum().sum())

# replace all NaN in dataframe with the mean of column A7

A7_mean = cancer_df['A7'].mean(skipna=True)
cancer_df.fillna(value=A7_mean, inplace=True)

print(cancer_df.head(25))

Number of NaN in is:  16
        Scn  A2  A3  A4  A5  A6         A7  A8  A9  A10  CLASS
0   1000025   5   1   1   1   2   1.000000   3   1    1      2
1   1002945   5   4   4   5   7  10.000000   3   2    1      2
2   1015425   3   1   1   1   2   2.000000   3   1    1      2
3   1016277   6   8   8   1   3   4.000000   3   7    1      2
4   1017023   4   1   1   3   2   1.000000   3   1    1      2
5   1017122   8  10  10   8   7  10.000000   9   7    1      4
6   1018099   1   1   1   1   2  10.000000   3   1    1      2
7   1018561   2   1   2   1   2   1.000000   3   1    1      2
8   1033078   2   1   1   1   2   1.000000   1   1    5      2
9   1033078   4   2   1   1   2   1.000000   2   1    1      2
10  1035283   1   1   1   1   1   1.000000   3   1    1      2
11  1036172   2   1   1   1   2   1.000000   2   1    1      2
12  1041801   5   3   3   3   2   3.000000   4   4    1      4
13  1043999   1   1   1   1   2   3.000000   3   1    1      2
14  1044572   8   7   5  10   7   9.000000   5   5    4      4
15  1047630   7   4   6   4   6   1.000000   4   3    1      4
16  1048672   4   1   1   1   2   1.000000   2   1    1      2
17  1049815   4   1   1   1   2   1.000000   3   1    1      2
18  1050670  10   7   7   6   4  10.000000   4   1    2      4
19  1050718   6   1   1   1   2   1.000000   3   1    1      2
20  1054590   7   3   2  10   5  10.000000   5   4    4      4
21  1054593  10   5   5   3   6   7.000000   7  10    1      4
22  1056784   3   1   1   1   2   1.000000   2   1    1      2
23  1057013   8   4   5   1   2   3.544656   7   3    1      4
24  1059552   1   1   1   1   2   1.000000   3   1    1      2